{:paths ["src" "test"]
 :deps {io.github.kotoba-lang/compiler
        {:git/url "https://github.com/kotoba-lang/compiler.git"
         :git/sha "d950713d7a27094371f1b3085a63df6a5b51c7de"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
