{:paths ["src" "test"]
 :deps {io.github.kotoba-lang/compiler
        {:git/url "https://github.com/kotoba-lang/compiler.git"
         :git/sha "48efc8aec36f7136cd0640b67a439d4f06d5d88c"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
